html {
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  color:#333 !important;

  a, p {
    font-size: .9em;
    line-height: 1.5em;
  }

  a{
    font-size: 1em;
  }

  ul{
  }

  li{
    font-size: .9em;
    margin-bottom:1em;
    line-height: 1.5em;

  }

  code,
  pre code {
    background-color: #e9e9e9;
    color:#333;
  }

  a{
    transition: all 0.4s;
    color: #E36740;

    &:hover{
      text-decoration: underline;
      color:#D2402D;
    }

    .nav-link-highlighter{
      padding-top:1.25em;
      padding-bottom:1.25em;
      position:relative;
      top: -3px;

      span{
        position:relative;
        top:3px
      }

    }

    &.active{
      color:#D2402D;
      .nav-link-highlighter{
        -webkit-box-shadow:0px 3px 0 #E36740;;
        -moz-box-shadow:0px 3px 0 #E36740;;
        box-shadow:0px 3px 0 #E36740;
      }
    }
  }

  .title-link{
    color:#333;
    transition: all 0.4s;
    font-size: 1.5em;
    font-weight: 700;
    &:hover{
      color:#666;
    }
  }

  h2{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5em;
  }

  h3{
    font-size: .9em;
    font-weight: 700;
    color:#333;
    text-transform: uppercase;
    margin-bottom:1em;
    line-height: 1.5em;
  }

  h4{
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.5em;
  }

  h5{
    font-weight: 600;
    font-size: .9em;
    line-height: 1.5em;
  }

  .date{
    text-transform: uppercase;
    color: #666;
  }

  .navbar{
    -webkit-box-shadow: 0px 4px 19px -4px rgba(0,0,0,0.13);
    -moz-box-shadow: 0px 4px 19px -4px rgba(0,0,0,0.13);
    box-shadow: 0px 4px 19px -4px rgba(0,0,0,0.13);
    padding-top:0;
    padding-bottom:0;

    li{
      margin-bottom:0;
    }
  }

  .navbar-brand {
    font-size: .9em;
    color: #333;
    font-weight: 700;

    &:hover{
      color:#666;
    }
  }

  a.nav-link{
    color:#333;
    padding-top:0;
    padding-bottom:0;
    &:hover{
      color:#666;
      .nav-link-highlighter{
        -webkit-box-shadow:0px 3px 0 #d2402d;;
        -moz-box-shadow:0px 3px 0 #d2402d;;
        box-shadow:0px 3px 0 #d2402d;
        text-decoration: none;
      }
    }

  }

  .jumbotron.jumbotron-about{
    background-image:url("../images/about.jpg");
    background-position:50% 50%;
    background-repeat:no-repeat;
    height: 424px;
  }

  .jumbotron{
    background:#fff;
    background-image:linear-gradient(-164deg, #050507 2%, #1F254D 100%);
    border-radius:0;
    max-height: 424px;
    display:flex;

    .jumbotron-inner{
      display: flex;
      margin: 0 auto;
      align-items: center;
      max-height: 424px;

      .jumbotron-inner_img{
        overflow: hidden;
        height: 424px;
        padding-top:3em;
        padding-right: 3em;
      }
      .jumbotron-inner_tagline{
        text-align: center;
        color:#e1e1e1;
      }
    }
  }

  .display-3{
    font-family: 'Sarabun', sans-serif;
    font-weight: 800;
    color:#e1e1e1;
  }

  .margin-bottom-1{
    margin-bottom:1em;
  }

  .margin-bottom-2{
    margin-bottom:2em;
  }

  .margin-bottom-3{
    margin-bottom:3em;
  }

  .header-margin-2{
    margin-top:2em;
  }

  .header-margin-1{
    margin-top:1em;
  }

  .header-margin-3{
    margin-top:3em;
  }

  footer{
    background:#E36740;
    color:#fff;
    padding:1em;
    .footer-social{
      display:flex;
      justify-content: flex-end;

      .footer-social_github,
      .footer-social_linkedin {
        img{
          width:24px;
        }
      }
      .footer-social_github{
        margin-right:1em;
      }
    }

  }

  .blog-content_container{
    p, li{
      font-size: 1.2em !important;
      line-height: 2.1em;
    }
    li p{
      font-size: 1.0em !important;
      line-height: 2.1em;
    }
    li li{
      font-size: 1.0em !important;
      line-height: 2.1em;
    }

    h2{
      margin:2em 0 1em;
      line-height:1.5em;
    }

  }

  .hobbies img{
    width:100%;
    max-width: 100px;
  }

  .hobbies{
          margin-bottom:1em;
  }

  .credit{
    font-size:0.8em;
    margin:1em 0;
  }



  @media screen and (max-width: 992px){

    .hobbies img{
      max-width: 100px;
            margin-bottom:1em;
    }

    footer{

      .footer-social{
        display:flex;
        margin-top:1em;
        justify-content: flex-start !important;
      }
    }

    .jumbotron{
      .jumbotron-inner{
        text-align: center;
        display:block;
        .jumbotron-inner_img{
          height:auto;
          padding:0;
          overflow: inherit;
          .jumbotron-inner_astro{
            img{
              width:50px;
              height:auto;
              padding:0;
            }
          }

        }
      }
    }
  }

  hr{
    margin:2em 0;
  }

  .blog-post-container{
    .blog-content_container{

    }
    h1{
      text-align: center;
      margin-top:1em;
    }
    .date{
      font-size: .9em;
      margin-bottom:1em;
    }
  }

  @media screen and (max-width: 576px){
    .jumbotron.jumbotron-about{
      background:#fff;
      background-image:url("../images/about-small.jpg");
      height:200px;
      background-position:50% 50%;
    }
  }

}
